<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
  <title>投票首页</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/global.css">
</head>

<body>
  <!-- Init Page Content Start -->
  <section class="outer-section">
    <div class="write-btn"></div>
    <div class="outer-wrapper column">
      <div class="title tada">
        <img src="static/images/title.png" alt="">
      </div>
      <img class="banner" src="./static/images/qd_s1.png" alt="" />
    </div>
  </section>
  <section class="outer-section">
    <div class="outer-wrapper column-center">
      <img class="banner" src="./static/images/qd_s2.png" alt="" />
      <a class="qp-btn" href="http://www.baidu.com"></a>
    </div>
  </section>
  <section class="outer-section">
    <div class="outer-wrapper">
      <img class="banner" src="./static/images/qd_s3.png" alt="" />
      <div class="slogan">
        <div class="search row-center">
          <input type="number" placeholder="输入编号查询">
          <div id="myTit" class="my-title"></div>
          <div id="userSearch" class="user-search"></div>
        </div>
      </div>
    </div>
  </section>
  <section class="outer-section">
    <div class="outer-wrapper">
      <img class="banner" src="./static/images/qd_s4.png" alt="" />
    </div>
  </section>
  <!-- Init Page Content End -->
  <div class="content z-hide">
    <div class="header">
      <div class="rule">
        <span>活动规则</span>
      </div>
      <div class="title tada">
        <img src="./static/images/title.png" alt="">
      </div>
      <div class="register">
        <a href="register.html">
          我要报名
        </a>
      </div>
      <div class="search">
        <input type="text" placeholder="请输入用户名称">
        <span>搜索</span>
      </div>
    </div>
    
  </div>
  <div class="mask">
    <div class="submit_info">
      <div class="no_signed">
        <div class="sub_title">
          <span>请输入用户信息进行验证</span>
        </div>
        <div class="reitems">
          <input type="text" class="reinput usernum" placeholder="请填写用户编号">
        </div>
        <div class="reitems">
          <input type="text" class="reinput user_password" placeholder="请填写用户密码">
        </div>
        <div class="subbtn">
          提交
        </div>
        <div class="no_info">
          <a href="/vote/register">
            <span>没有用户名和编号？</span>
            <span>请先进行报名</span>
          </a>
        </div>
      </div>
      <div class="signed">
        <p>Welcome!</p>
        <p class="username">鸣人</p>
        <div class="dropout">
          退出登入
        </div>
      </div>
    </div>
  </div>
</body>

</html>