<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>vote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta name="searchtitle" content="vote">
    <meta name="title" content="vote">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/global.css" />
</head>
<body>
<!-- Init Page Content Start -->
<section class="outer-section">
  <div class="outer-wrapper">
    <img class="banner" src="images/qd_s1.png" alt="" />
  </div>
</section>
<section class="outer-section">
  <div class="outer-wrapper">
    <img class="banner" src="images/qd_s2.png" alt="" />
  </div>
</section>
<section class="outer-section">
  <div class="outer-wrapper">
    <img class="banner" src="images/qd_s3.png" alt="" />
  </div>
</section>
<section class="outer-section">
  <div class="outer-wrapper">
    <img class="banner" src="images/qd_s4.png" alt="" />
  </div>
</section>
<!-- Init Page Content End -->

</body>
</html>