.search {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    margin: 10px auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.search input {
    position: relative;
    left: 10px;
    color: #fff;
    FILTER: alpha(opacity=0);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #1b246b;
    border-radius: 50px;
    height: 64%;
    width: 150px;
    font-size: 12px;
    color: #333;
    text-indent: 15px;
    outline: none;
    vertical-align: middle;
}

.user-search{
    position: relative;
    top: 10px;
    left: 10px;
    background: url(./../images/myby-btn.png) no-repeat;
    background-size: 100%;
    width: 55px;
    height: 44px;
}

.my-title{
    position: relative;
    top: 10px;
    left: 4px;
    background: url('./../images/search-btn.png') no-repeat;
    background-size: 100%;
    width: 55px;
    height: 44px;
}

.tada {
    -webkit-animation:  tada 1.5s;
    animation: tada 1.5s;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    10%,
    20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    10%,
    20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        -ms-transform: scale(0.9) rotate(-3deg);
        transform: scale(0.9) rotate(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        -ms-transform: scale(1.1) rotate(3deg);
        transform: scale(1.1) rotate(3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        -ms-transform: scale(1.1) rotate(-3deg);
        transform: scale(1.1) rotate(-3deg)
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
        -ms-transform: scale(1) rotate(0);
        transform: scale(1) rotate(0)
    }
}

.gender input {
    -webkit-appearance: none; /* remove default */
    display: inline-block;
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
    background-color: #fff;
    background-image: -webkit-radial-gradient( hsla(200,100%,90%,1) 11%, hsla(200,100%,70%,1) 23%, hsl(200, 100%, 60%) 49%, hsl(200, 88%, 45%) 103% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
    -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
}
.gender input:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    -webkit-transform .25s cubic-bezier(0, 0, .2, 1);
}
.gender input:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}



/* The up/down direction logic */

.gender input,
.gender input:active {
    background-position: 0 24px;
}
.gender input:checked {
    background-position: 0 0;
}
.gender input:checked ~ input,
.gender input:checked ~ input:active {
    background-position: 0 -24px;
}

.register_item {
    padding: 20px 30px;
    box-sizing: border-box;
}

.reitems {
    margin-bottom: 25px;
}

.refont {
    font-size: 18px;
    color: #44a1e2;
}

.reinput {
    width: 80px;
    height: 30px;
    outline: none;
    font-size: 16px;
    text-indent: 10px;
    color: #333;
    margin-top: 5px;
    border: 1px solid #8bcffe;
    border-radius: 5px;
}
.bounceIn {
    animation:bounceIn .8s;
    -webkit-animation:bounceIn .8s;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    70% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        -ms-transform: scale(.3);
        transform: scale(.3)
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05)
    }
    70% {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        transform: scale(.9)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}


.write-btn{
    position: fixed;
    right: 6px;
    bottom: 32px;
    background: url(./../images/write-btn.png) no-repeat;
    background-size: 100%;
    width: 83px;
    height: 91px;
    z-index: 999;
}
.qp-btn{
    position: absolute;
    width: 60%;
    height: 10%;
    top: 27%;
    left: 20%;
}

.slogan{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
.slogan-tit{
    position: relative;
    width: 184px;
    height: 50px;
    background: url('./../images/top-tit.png')0 0 no-repeat;
    background-size: 100%;
}
.slogan-list{
    position: relative;
    top: 0;
    width: 100%;
}
.slogan-list-ul{
    width: 309px;
    height: 392px;
    overflow-y: scroll;
}
.slogan-list-li{
    position: relative;
    left: 8px;
    background: url('./../images/tp-bg.png') no-repeat;
    background-size: 100%;
    height: 88px;
    width: 90%;
    padding: 5px;
}
.slogan-li-num{
    position: relative;
    top: -34px;
    left: 0px;
    color: #a3a3a3;
    font-size: 18px;
}
.slogan-li-con{
    width: 200px;
    height: 60px;
}
.slogan-li-txt1{
    width: 200px;
    height: 32px;
    line-height: 16px;
    overflow: hidden;
    color: #1e2971;
    font-size: 14px;
}
.slogan-li-txt2{
    position: relative;
    top: 5px;
    font-size: 12px;
    color: #a3a3a3;
}

.zan-img-show{
    position: relative;
    top: -12px;
    left: -2px;
    background: url('./../images/zan.png') no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
}
.zan-img-hide{
    position: relative;
    top: -12px;
    left: -2px;
    background: url('./../images/zan-act.png') no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
}
.zan-num{
    position: relative;
    top: -12px;
    left: -2px;
    font-size: 12px;
    color: #fb6d74;
}
.about{
    color: #1e2971;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}